<!DOCTYPE html>
<html>
    <style>
        h1 {
            margin: 10px;
            padding: 10px;
            text-align: center;
        }
        input {
            border: 0px solid rebeccapurple;
            border-radius: 5px;
            padding: 13px;
            width: 90%;
            margin: 10px;
            margin-left: 20px;
            box-shadow: 0px 1px 2px gray;
        }
        div {
            padding: 30px;
            border-radius: 10px;
            width: 58%;
            height: 40vh;
            margin-left: 18%;
            border: 0.5px solid gray;
        }
        button{
            cursor: pointer;
            padding: 10px;
            margin: 10px;
            border: 0px solid rebeccapurple;
            border-radius: 5px;
            background-color: tomato;
            box-shadow: 1px 2px 3px gray;
        }
        .add:hover {
            background-color: burlywood;
            box-shadow: 1px 2px 3px gray;
            font-size: 90%;
        }
        .add {
            position: absolute;
            top:195px;
            left:700px;
        }
        .discard {
            position: absolute;
            top:195px;
            left:450px;
        }
        .discard:hover {
            background-color: burlywood;
            box-shadow: 1px 2px 3px gray;
            font-size: 90%;
        }
    </style>
    <body>
        <div>
            <h1>Enter Search Keyword</h1>
            <input type="text" id="kwd" placeholder="Type something here">
            <button class="add" onclick="add()">Add Keyword</button>
            <button class="discard" onclick="discard()">Discard Changes</button>
        </div>
    </body>
    <script>
        function add() {
            let kwd = document.getElementById('kwd').value;
            window.location.href = "http://localhost:5000/home/keyword/"+kwd+"/added/";
        }
        function discard() {
            window.location.href = "http://localhost:5000/home";
        }
    </script>
</html>