<style>
    h1 {
        color: navy;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 100px;
        text-align: center;  
    }
    h4 {
        text-align: center;
    }
</style>

<h1>
    All Tweets Deleted From Favourites !
</h1>

<h4>
    This page will be redirected in 2 seconds ...
</h4>

<script>
    setTimeout(function(){
        window.location.href = '/home';
    }, 1500);
</script>