<!DOCTYPE html>
<html>
    <style>
        h1 {
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: indigo;
        }
        h4 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
        }
    </style>
    <body>
        <br><br>
        <h1>Keyword added Successfully !</h1>
        <h4>This page will be redirected in 2 seconds ...</h4>
    </body>
    <script>
        setTimeout(function(){
            window.location.href = '/home';
         }, 500);
    </script>
</html>